<main id="posts-home">

	<div>Group Links</div>

	<div class="deewar-posts">
		<div class="new-post-form">
			<% if user_signed_in? %>
			<%= form_for @post, remote: true do |f| %>
				<%= f.label :content %>
				<%= f.text_area :content %>

				<%= f.submit %>
			<% end %>
			<% end %>
		</div>

		<div >
			<ul id="posts-list" class="posts-list">
				<% @posts.reverse.each do |p| %>
				<!--  -->
					<%= render 'post', post: p %>
				<% end %>
			</ul>


		</div>
		

	</div>


	<div>Friends</div>

</main>




