<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">


  </head>

  <body>
  	<div id="common-header">
  		<div class='logo'>
  			<img width="45" src="https://image.freepik.com/free-icon/reddit-logo_318-67806.jpg">
  		</div>

  		<div class='auth-info-links'>
  			<% if user_signed_in? %>
  			<p><%= current_user.email %></p>
  			<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

  			<% else %>

  				<p><%= link_to "Sign In", new_user_session_path %></p>
  				<p><%= link_to "Sign Up", new_user_registration_path %></p>
  			<% end %>
  		</div>
  	</div>


    <%= yield %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </body>
</html>






