<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>

    <!-- this is used to set the scale of the webpage according to the screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  </head>

  <body>
  	<div id="common-header">
  		<div class='logo animated bounce infinite'>
  			<img width="45" src="https://image.freepik.com/free-icon/reddit-logo_318-67806.jpg">
  		</div>

  		<div class='auth-info-links'>
  			<% if user_signed_in? %>
  			<p id="current_user_email"><%= current_user.email %></p>
  			<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

  			<% else %>

  				<p><%= link_to "Sign In", new_user_session_path %></p>
  				<p><%= link_to "Sign Up", new_user_registration_path %></p>
  			<% end %>
  		</div>
  	</div>


    <%= yield %>

    <% if user_signed_in? %>
      <div id="user-chat-box">
        <ul id="chat-messages-list">
          <li class="other-message">
            <span>Other Message</span>
          </li>
          <li class="self-message">
            <span>
              Self Message
            </span>
            
          </li>

        </ul>
        <div id="chat-message-input-container">
          <input id="chat-message-input" placeholder="Type message here">
          <button id="send-message"><i class="fa fa-thumbs-up"></i></button>
        </div>

      </div>
    <% end %>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>
              new WOW().init();
    </script>
  </body>
</html>






